<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Our Amazing Blog</title>
    <link rel="stylesheet" href="{{'/styles/styles.css' | prefixedUrl }}" />
  </head>
  <body>
    <nav>
      <ul>
        <li><a class="nav-item" href="{{'/' | prefixedUrl }}">Home</a></li>
      </ul>
    </nav>

    <div class="page-container">
      <div class="gif-column left-gifs">
        <img src="{{'/assets/hotpot.gif' | prefixedUrl }}" alt="Hot Pot" class="side-gif" />
        <img src="{{'/assets/burgerandfries.gif' | prefixedUrl }}" alt="Burger and Fries" class="side-gif" />
        <img src="{{'/assets/salad.gif' | prefixedUrl}}" alt="Salad" class="side-gif" />
      </div>

      <main>
        <h1>Welcome to my food blog!</h1>
        <p>Here, you will find blogs on some of my favorite restaurants in Manhattan!</p>

        <h2>Latest Posts</h2>
        <ul>
          <li><a href="{{'/blogs/second/' | prefixedUrl }}  ">Fu Zhou Wei Zhong Wei Jia Xiang Feng Wei Post</a> – 10/19/2025</li>
          <li><a href="{{'/blogs/special-post/' | prefixedUrl }}">The Penny Farthing Post</a> – 08/02/2025</li>
          <li><a href="{{'/blogs/first/' | prefixedUrl }}">Hou Yi Hot Pot Post</a> – 06/16/2025</li>
          <li><a href="{{'/blogs/third/' | prefixedUrl }}">Alice Post</a> – 09/10/2025</li>
          <li><a href="{{'/blogs/fourth/'| prefixerUrl }}">Raku</a> – 10/01/2025</li>
          <li><a href="{{'/blogs/fifth/' | prefixerUrl }}">Freddie and Pepper's</a> – 10/06/2025</li>
          <li><a href="{{'/blogs/sixth/' | prefixerUrl }}">Oasis Cafe</a> – 08/24/2025</li>
        </ul>
      </main>

      <div class="gif-column right-gifs">
        <img src="{{'/assets/dumpling.gif' | prefixedUrl }}" alt="Dumpling" class="side-gif" />
        <img src="{{'/assets/bagel.gif' | prefixedUrl }}" alt="Bagel" class="side-gif" />
        <img src="{{'/assets/sushi.gif' | prefixedUrl }}" alt="Sushi" class="side-gif" />
      </div>
    </div>

    <footer>
      @jackieblog
    </footer>
  </body>
</html>
