<div class="gif-column left-gifs">
  <img src="/assets/hotpot.gif" alt="Hot Pot" class="side-gif">
  <img src="/assets/burgerandfries.gif" alt="Burger and Fries" class="side-gif">
  <img src="/assets/salad.gif" alt="Bao" class="side-gif">
</div>
<div class="gif-column right-gifs">
  <img src="/assets/dumpling.gif" alt="Dumpling" class="side-gif">
  <img src="/assets/bagel.gif" alt="Bagel" class="side-gif">
  <img src="/assets/sushi.gif" alt="Sushi" class="side-gif">
</div>
