<div class="gif-column left-gifs">
  <img src="{{'/assets/hotpot.gif' | prefixedUrl }}" alt="Hot Pot" class="side-gif">
  <img src="{{'/assets/burgerandfries.gif' | prefixedUrl }}" alt="Burger and Fries" class="side-gif">
  <img src="{{'/assets/salad.gif' | prefixedUrl }}" alt="Bao" class="side-gif">
</div>
<div class="gif-column right-gifs">
  <img src="{{'/assets/dumpling.gif' | prefixedUrl }}" alt="Dumpling" class="side-gif">
  <img src="{{'/assets/bagel.gif' | prefixedUrl }}" alt="Bagel" class="side-gif">
  <img src="{{'/assets/sushi.gif' | prefixedUrl }}" alt="Sushi" class="side-gif">
</div>
