<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Freddie and Pepper's</title>
    <link rel="stylesheet" href="{{'/styles/styles.css'}} | prefixedUrl" />
  </head>
  <body>
    {% include "nav.njk" %}

    <main>
      <img src="{{'/assets/fap.jpg'}} | prefixedUrl" alt="Freddie and Pepper's" class="post-image" />
      <h1>Freddie and Pepper's</h1>
      <h2>303 Amsterdam Ave, New York, NY 10023</h2>
      <p>This is one of my favorite Pizza shops. 
        My dad and I first went here because it is close to where he lives and we have loved it ever since. 
        It is a cute little shop with photos of celebritires with the chef. 
        The pizza is good, however, I think the memories with the place itself are what makes it special to me.</p>
      <div class="badge">7.8/10</div>
    </main>

    {% include "footer.njk" %}
  </body>
</html>
