<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Hou Yi Hot Pot</title>
    <link rel="stylesheet" href="/styles/styles.css" />
  </head>
  <body>
    {% include "nav.njk" %}

    <main>
      <img src="/assets/hyhp.jpg" alt="Hou Yi Hot Pot" class="post-image" />
      <h1>Hou Yi Hot Pot</h1>
      <h2>92 Hester St, New York, NY 10002</h2>
      <p>Hou Yi Hot Pot is one of my favorite hot pot places to go to. It is all you can eat with free ice cream if the food gets too spicy. This also was the first place I ever ate hot pot at and to this day, I’ve never had better.</p>
      <div class="badge">9/10</div>
    </main>

    {% include "footer.njk" %}
  </body>
</html>
