<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Fu Zhou Wei Zhong Wei Jia Xiang Feng Wei</title>
  <link rel="stylesheet" href="{{'/styles/styles.css' | prefixedUrl}}" />
</head>
<body>
  {% include "nav.njk" %}

  <main>
    <img src="{{'/assets/f.jpg'}} | prefixedUrl" alt="Fu Zhou Dumplings" class="post-image" />
    <h1>Fu Zhou Wei Zhong Wei Jia Xiang Feng Wei</h1>
    <h2>88 E Broadway, New York, NY 10002</h2>
    <p>
      I first found out about this place on TikTok. It looked so interesting and I wanted to find it.
      It was hidden in the basement of a semi-abandoned mall in Chinatown.
      The dumplings and buns are incredibly cheap and so so tasty.
      One of the best pork buns I have ever had.
    </p>
    <div class="badge">9/10</div>
  </main>

  {% include "footer.njk" %}
</body>
</html>
