<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Oasis Cafe</title>
    <link rel="stylesheet" href="/styles/styles.css" />
  </head>
  <body>
    {% include "nav.njk" %}

    <main>
      <img src="/assets/oc.jpg" alt="Oasis Cafe" class="post-image" />
      <h1>Oasis Cafe</h1>
      <h2>3198 Avenue A, New York, NY 10009</h2>
      <p>My friend first introduced me to Oasis cafe and I immediately became addicted to their Chocolate fudge cake. 
        It is the only thing I have ever ordered from here but it is too good not to have. 
        I probably eat and unhealthy amount of this cake but it is so incredibly good.</p>
      <div class="badge">10/10</div>
    </main>

    {% include "footer.njk" %}
  </body>
</html>
