<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Alice</title>
  <link rel="stylesheet" href="{{'/styles/styles.css' | prefixedUrl}}s" />
</head>
<body>
  {% include "nav.njk" %}

  <main>
    <img src="{{'/assets/alice.jpg'}} | prefixedUrl" alt="Alice NYC" class="post-image" />
    <h1>Alice</h1>
    <h2>126 W 13th St, New York, NY 10011</h2>
    <p>
      I recently went here for an anniversary dinner, and it was amazing.
      The outside decorations were so cute, and the inside was even more aesthetically pleasing.
      The food was a bit overpriced, but so good that their tuna appetizer and wagyu short rib were amazing.
    </p>
    <div class="badge">8/10</div>
  </main>

  {% include "footer.njk" %}
</body>
</html>